body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    height: 320px;
    width: 600px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 20px 400px;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.sectionOne {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    padding: 100px 400px;
}

.subOne {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 400px;
    gap: 16px;
}

.subOne h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: none;
    align-self: flex-start;
    font-weight: bold;
}

.sub_One {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 18px;
    width: 600px;
    min-height: 100px;
}

.secondaryOne {
    font-size: 18px;
    color: #E5E7EB;
}

.sectionTwo {    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.sub_Two {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}

.miniSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 170px;
}

.rectangle {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 16px;
}

.rectangle img {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 12px;
}
.sectionTree {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 400px;
}

.subFour {
    font-size: 36px;
    font-style: italic;
    color: #152937;
}

.subFive {
    align-self: flex-end;
    font-weight: 800;
    font-size: 20px;
}

.sectionFour {
    padding: 70px 400px;
}

.subSix {
    display: flex;
    padding: 32px 70px;
    gap: 50px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

h3 {
    margin: 0;
}

.action {
    color: #F9FAF8;
    align-self: center;
    width: 400px;
}

.actionbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: solid;
    border-color: whitesmoke;
    align-self: center;
}

footer {
    margin-top: auto;
    align-self: stretch;
    background-color: #1f2937;
    color: #E5E7EB;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}